<!DOCTYPE html>
<html lang="de">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/vrnwltn.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700&display=swap" rel="stylesheet">
    <script src="{{ site.baseurl }}/js/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap/bootstrap.min.js"></script>
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.okfn.de/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['disableCookies']);
        _paq.push(['setSiteId', '52']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/#programm">Programm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/#partner">Partner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/#greenspot">Austausch und Ergebnisse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/#blackspot">Bisherige Programme</a>
            </li>
          </ul>
        </div>
      </nav>

      <main>
        {{ content }}
      </main>

      <footer class="py-5">
        <nav class="container text-center">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/2019/indien">Indien '19</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/2017/ostasien">Ostasien '17</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/2016/suedkorea">S&#252;d-Korea '16</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/oer/">Open Educational Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/kontakt">Kontakt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://okfn.de/impressum/#datenschutzerkl%C3%A4rung">Datenschutzerklärung</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/impressum">Impressum</a>
            </li>
          </ul>
        </nav>
      </footer>
  </body>
</html>
